@import url(./style.css);

h1 {
    color: #5522FF;
    font-size: 150px;
    background-image: url(/images/background.png);
    background-size: 72px, 72px;
}

h2 {
    color: #333333;
    font-size: 30px;
}