extends ./style.jade

block title
	title about

block link
	link(rel='stylesheet', href='/stylesheets/about.css')

block body
	h1.text about
	input.button(type="button", onClick="location.href='/'" value="home")
	h3 ↑
	h2 Location is about.