extends ./style.jade

block title
	title home

block link
	link(rel='stylesheet', href='/stylesheets/index.css')

block body
	h1.text index
	h2 Location is home.
	h3 ↓
	input.button(type="button", onClick="location.href='/about'" value="about")